// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > header[role='banner'] {
  padding-bottom: 0.5em;

  h2 {
    font-weight: normal;
    font-size: 0.75em;
    float: right;
    margin-top: 2em;
  }
}

#about{
  margin-top: 1em;
}

.entry-content {
  h2 {
    font-size: 28px;
  }

  table {
    margin-top: 10px;
    margin-bottom: 25px;

    td, th {
      padding: 10px;
    }

    th {
      font-weight: bold;
    }
  }
}
